body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, lightblue, #ffffff);
}
#root{
  margin-left: 18%;
  margin-right: 10%;
}
.container{
    display: flex;
    margin: auto; 
    margin-top: 40px;  
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    width: 50%;

}
h1{
    color:blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
input,button{
    border-radius: 14px;
    border: 1px solid blueviolet;
    margin: 2px;
    font-size: medium;
    padding: 10px;
    color:blueviolet;
}
input:focus{
    background-color: antiquewhite;
    border-radius: 14px;
    border:1px solid blueviolet;
    outline: none;
    padding: 12px;

}
form{
    margin: 5px;
    box-sizing: border-box;
}
button{
    color:white;
    background-color: blueviolet;
    outline: none;
    border: 1px solid blueviolet;
    padding: 9px;
}
button:hover{
    padding: 11px;
    background-color: lightslategrey;
    outline: none;
    border: 1px solid lightslategray;
}
.result{
    margin: 8px;
    padding: 5px;
}
ul li{
    list-style-type: none;
    color:blueviolet;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;

}

.error{
    color: rgb(233, 99, 99);
    padding: 8px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
}